#textdomain wesnoth-cotgi
[multiplayer]
    id=CotGI
    name= _ "Chess of the Green Isle"
    map_data="{~add-ons/Chess_of_the_Green_Isle/maps/CotGI.map}"
	{INDOORS}
	
	turns=-1
	carryover_percentage=0
    victory_when_enemies_defeated=no
	theme=Cutscene

	{INTRO_AND_SCENARIO_MUSIC revelation.ogg revelation.ogg}
	
	[side]
        side=1
		x,y=7,10
        id,defeat_condition=Daeola,never
		shroud=no
		fog=no
        controller=human
        team_name=Friends
		gold=0
        {FLAG_VARIANT loyalist}
        user_team_name=_"Islefolk"
    [/side]
	
	[side]
        side=2
		x,y=15,4
		color=blue
		shroud=no
		fog=no
        controller=human
        team_name=Friends
        {FLAG_VARIANT loyalist}
		user_team_name=_"Wesfolk"
    [/side]
	
	[event]
	name=prestart
	
	
	{VARIABLE ctl_chess_active yes}
	
	{MODIFY_UNIT x,y=7,10 facing ne}
	{MODIFY_UNIT x,y=7,10 max_moves 0}
	{MODIFY_UNIT x,y=15,4 moves 0}
	{MODIFY_UNIT x,y=15,4 facing sw}
	{MODIFY_UNIT x,y=15,4 max_moves 0}
	{MODIFY_UNIT x,y=15,4 moves 0}
	
	#define CTL_CHESS_RANDOMISE SIDE UNIT_TYPE UNIT_ID X1 Y1 X2 Y2 X3 Y3 X4 Y4 X5 Y5
	    [if]
		[not]
		[have_unit]
		x,y={X1},{Y1}
		[/have_unit]
		[/not]
		[then]
		{VARIABLE ctl_chess_random $ctl_chess_random|"{X1},"}
		[/then][/if]
		[if]
		[not]
		[have_unit]
		x,y={X2},{Y2}
		[/have_unit]
		[/not]
		[then]
		{VARIABLE ctl_chess_random $ctl_chess_random|"{X2},"}
		[/then][/if]
		[if]
		[not]
		[have_unit]
		x,y={X3},{Y3}
		[/have_unit]
		[/not]
		[then]
		{VARIABLE ctl_chess_random $ctl_chess_random|"{X3},"}
		[/then][/if]
		[if]
		[not]
		[have_unit]
		x,y={X4},{Y4}
		[/have_unit]
		[/not]
		[then]
		{VARIABLE ctl_chess_random $ctl_chess_random|"{X4},"}
		[/then][/if]
		[if]
		[not]
		[have_unit]
		x,y={X5},{Y5}
		[/have_unit]
		[/not]
		[then]
		{VARIABLE ctl_chess_random $ctl_chess_random|"{X5},"}
		[/then][/if]
		
	    {RANDOM $ctl_chess_random}
		[switch]
            variable=random
            [case]
                value=9
			    {NAMED_GENERIC_UNIT {SIDE} {UNIT_TYPE}  {X1} {Y1}  {UNIT_ID} ()}
            [/case]                                          
            [case]                                           
                value=10                                      
                {NAMED_GENERIC_UNIT {SIDE} {UNIT_TYPE}  {X2} {Y2}  {UNIT_ID} ()}
            [/case]                                          
            [case]                                           
                value=11                                      
                {NAMED_GENERIC_UNIT {SIDE} {UNIT_TYPE}  {X3} {Y3}  {UNIT_ID} ()}
            [/case]                                          
		    [case]                                           
                value=12                                      
			    {NAMED_GENERIC_UNIT {SIDE} {UNIT_TYPE}  {X4} {Y4}  {UNIT_ID} ()}
            [/case]                                          
		    [case]                                           
                value=13                                      
                {NAMED_GENERIC_UNIT {SIDE} {UNIT_TYPE}  {X5} {Y5} {UNIT_ID} ()}
            [/case]
        [/switch]
		
		{CLEAR_VARIABLE ctl_chess_random}
	#enddef
	
	{CTL_CHESS_RANDOMISE 1 (Knight)             Chess_Knight_Human_1  9 10 10 9 11 9 12 9 13 10}
    {CTL_CHESS_RANDOMISE 1 (Daeola_L1_Mage)     Chess_Queen_Human_1   9 10 10 9 11 9 12 9 13 10}
	{CTL_CHESS_RANDOMISE 1 (Haralin_L2)         Chess_King_Human_1    9 10 10 9 11 9 12 9 13 10}
	{CTL_CHESS_RANDOMISE 1 (Lieutenant)         Chess_Bishop_Human_1  9 10 10 9 11 9 12 9 13 10}
	{CTL_CHESS_RANDOMISE 1 (Highwayman_Peasant) Chess_Rook_Human_1    9 10 10 9 11 9 12 9 13 10}
	
	#human set
	{NAMED_GENERIC_UNIT 1 (Peasant) 9 9  Chess_Pawn_Human_1 ()}
	{NAMED_GENERIC_UNIT 1 (Peasant) 10 8 Chess_Pawn_Human_2 ()}
	{NAMED_GENERIC_UNIT 1 (Peasant) 11 8 Chess_Pawn_Human_3 ()}
	{NAMED_GENERIC_UNIT 1 (Peasant) 12 8 Chess_Pawn_Human_4 ()}
	{NAMED_GENERIC_UNIT 1 (Peasant) 13 9 Chess_Pawn_Human_5 ()}
	
	[modify_unit]
	[filter]
	type=Peasant
	[/filter]

	[object]
        [filter]
            type=Peasant
        [/filter]
		[effect]
            apply_to=new_advancement
			replace=yes
            types=Daeola_L1_Mage,Lieutenant,Highwayman_Peasant,Knight
        [/effect]
    [/object]
	[/modify_unit]	
	
	#undead set
	
	
	{NAMED_GENERIC_UNIT 2 (Walking Corpse) 9 5   Chess_Pawn_Undead_1 ()}
	{NAMED_GENERIC_UNIT 2 (Walking Corpse) 10 5  Chess_Pawn_Undead_2 ()}
	{NAMED_GENERIC_UNIT 2 (Walking Corpse) 11 6  Chess_Pawn_Undead_3 ()}
	{NAMED_GENERIC_UNIT 2 (Walking Corpse) 12 5  Chess_Pawn_Undead_4 ()}
	{NAMED_GENERIC_UNIT 2 (Walking Corpse) 13 5  Chess_Pawn_Undead_5 ()}
	
	[modify_unit]
	[filter]
	type=Walking Corpse
	[/filter]

	[object]
        [filter]
            type=Walking Corpse
        [/filter]
		[effect]
            apply_to=new_advancement
			replace=yes
            types=Wesfolk Chariot,Bone Skeleton,Death Squire,Wesfolk Princess
        [/effect]
    [/object]
	[/modify_unit]
	
	{CTL_CHESS_RANDOMISE 2 (Wesfolk Chariot)  Chess_Knight_Undead_1  9 4 10 4 11 5 12 4 13 4}
	{CTL_CHESS_RANDOMISE 2 (Bone Skeleton)    Chess_Rook_Undead_1    9 4 10 4 11 5 12 4 13 4}
	{CTL_CHESS_RANDOMISE 2 (Death Squire)     Chess_Bishop_Undead_1  9 4 10 4 11 5 12 4 13 4}
	{CTL_CHESS_RANDOMISE 2 (Lenvan)           Chess_King_Undead_1    9 4 10 4 11 5 12 4 13 4}
	{CTL_CHESS_RANDOMISE 2 (Wesfolk Princess) Chess_Queen_Undead_1   9 4 10 4 11 5 12 4 13 4}
	
	#undef CTL_CHESS_RANDOMISE
	
	[/event]
   
[/multiplayer]